<h1>Todo List</h1>
<a [routerLink]="['/todo', 'add']">Add New Item</a>
<hr />
<table class="table table-condensed table-striped col-md-6">
    <thead>
        <tr>
            <th class="col-md-8">Description</th>
            <th class="col-md-4">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todoItems">
            <td>{{todo.description}}</td>
            <td>
                <a (click)="SelectTodoItem(todo)" class="pointer">Select</a> |
                <a [routerLink]="['/todo', todo.todoId]">Edit</a> |
                <a (click)="deleteItem(todo.todoId)" class="pointer">Delete</a> 
            </td>
        </tr>
        <tr *ngIf="!todoItems.length">
            <td colspan="10">
                <p class="text-danger">There are no items to display.</p>
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="selectedItem">
    <h2>
        {{selectedItem.description | uppercase}} is selected.
    </h2>
    <button (click)="gotoDetail()">View Details</button>
</div>